{% extends 'weather/baze.html' %}



{% block content %}
      <h1>Погода в твоих городах</h1>
        {% for info in all_info %}


        <div class="alert alert-info">
            <div class="row">
                <div class="col-sm" >
                    <b>Город:</b> {{ info.city }}<br>
                    <b>Температура:</b> {{ info.temp }}<sup>0</sup><br>
                </div>
                <div class="col-2 ">
                    <img  src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды">
                    <form  action="/" method="GET">
                        {% csrf_token %}
                        <a href="{% url 'delete' info.id %}" type="submit" class="btn btn-danger">удалить</a>
                    </form>
                </div>
            </div>
        </div>
            {% endfor %}
    </div>
  </div>
</div>
    <div class="footer">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Компания, ООО</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
           <a href="http://127.0.0.1:8000/admin/login/?next=/admin/"><img width="100" src="https://automationpanda.files.wordpress.com/2017/09/django-logo-negative.png?w=620"></a>
        </ul>
      </footer>
    </div>
{% endblock %}